@font-face {
    font-family: 'rubik-bubbles';
    src: url(../fonts/rubik-bubbles.ttf) format('truetype');
}

@font-face {
    font-family: 'instrumentsans';
    src: url(../fonts/instrumentsans.ttf) format('truetype');
}

/* Opmaak */
body {
    margin: 0;
    padding: 0;
}

h1, h2, a {
    font-family: 'rubik-bubbles';
}

p {
    font-family: 'instrumentsans';
    font-size: 1em;
    margin-bottom: 1.2em;
}

a {
    font-size: 1.2em;
}

header {
    text-align: center;
    padding: 0.2em;
    background-color: #e9edc9;
}

.logo {
    max-width: 200px;
    height: auto;
}

main {
    padding: 0.6em;
    text-align: center;
}

h1 {
    font-size: 2.1em;
    color: #000;
    margin-bottom: 0.5em;
}

/* Achtergrondafbeelding */
body.afbeelding {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('pootjes-achtergrond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Achtergrondkleur */
body.kleur {
    background-color: #fefae0;
}

/* Keuze menu */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li {
    width: 200px;
    margin: 1em 0;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    background-color: #ccd5ae;
    color: #000;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Home pagina */
.poezenboot {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1.7em;
}

.tekst-poezenboot {
    flex: 1;
    background-color: #fffde9;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    padding: 0.6em;
    width: 100%;
    max-width: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tekst-poezenboot h2 {
    text-align: center;
}

.tekst-poezenboot p {
    text-align: left;
}

.tekst-poezenboot a {
    display: block;
    text-decoration: none;
    background-color: #ccd5ae;
    color: #000;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Zittende kat */
.image-zittende-kat {
    flex: 1;
    text-align: center;
}

.image-zittende-kat img {
    max-width: 100%;
    height: auto;
}

/* Slapende kat */
.image-slapende-kat {
    flex: 1;
    text-align: center;
}

.image-slapende-kat img {
    max-width: 100%;
    height: auto;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.image-slapende-kat audio {
    display: none;
}

/* Bewegende muis */
.muis {
    position: absolute;
    bottom: 13%;
    animation: zigzag 18s infinite;
    overflow: hidden;
}

.muis img {
    width: 60px;
}

@keyframes zigzag {
    0% { transform: translate(-150%, 0vh); }
    25% { transform: translate(50%, -2vh); }
    50% { transform: translate(250%, 2vh); }
    75% { transform: translate(450%, -2vh); }
    100% { transform: translate(580%, 0vh);}
}


/* Katten pagina */
.katten-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.katten {
    background-color: #fffde9;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    padding: 0.6em;
    width: 100%;
    max-width: 330px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.katten-image {
    width: 80px;
    height: auto;
    margin-bottom: 0.6em;
    border-radius: 50%;
    border: 2px solid #eee;
}

.katten h2 {
    font-size: 1.5em;
    color: #000;
    margin: 0.3em 0;
    text-align: center;
}

.katten p {
    font-size: 1em;
    color: #000;
    text-align: left;
}

/* Bezoeken */
.bezoeken {
    background-color: #fffde9;
    border: 1px solid #ddd;
    border-radius: 0.6em;
    padding: 0.6em;
    width: 100%;
    max-width: 330px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bezoeken img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0.6em;
    object-fit: cover;
}

.reserveren {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #ccd5ae;
    color: #000;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #ccd5ae;
    padding: 0.5em 0;
    text-align: center;
    position: sticky;
    bottom: 0em;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.footer-nav li {
    display: inline;
}

.footer-nav a img {
    width: 90px;
    height: auto;
}